In [1]:
import pandas as pd
power = pd.read_csv("powerconsumption.csv")
power

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [7]:
import pandas as pd
power = pd.read_csv("powerconsumption.csv")

power['Avg Power Consumption'] = (power['PowerConsumption_Zone1'] + power['PowerConsumption_Zone2'] + power['PowerConsumption_Zone3'])/3
power = power.drop(columns=['PowerConsumption_Zone1','PowerConsumption_Zone2','PowerConsumption_Zone3'])
power

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,Avg Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,23475.178480
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,23106.947957
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,22601.073977
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,21829.744030
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,21216.815423
...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,24266.028863
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,23661.269287
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,22891.683217
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,22387.672273
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,21916.846587

In [2]:
import pandas as pd

power = pd.read_csv("powerconsumption.csv")

power['Avg Power Consumption'] = (power['PowerConsumption_Zone1'] + power['PowerConsumption_Zone2'] + power['PowerConsumption_Zone3'])/3
power = power.drop(columns=['PowerConsumption_Zone1','PowerConsumption_Zone2','PowerConsumption_Zone3'])

X = power.drop(columns=['Avg Power Consumption', 'Datetime'])
X

       Temperature  Humidity  WindSpeed  GeneralDiffuseFlows  DiffuseFlows
0            6.559      73.8      0.083                0.051         0.119
1            6.414      74.5      0.083                0.070         0.085
2            6.313      74.5      0.080                0.062         0.100
3            6.121      75.0      0.083                0.091         0.096
4            5.921      75.7      0.081                0.048         0.085
...            ...       ...        ...                  ...           ...
52411        7.010      72.4      0.080                0.040         0.096
52412        6.947      72.6      0.082                0.051         0.093
52413        6.900      72.8      0.086                0.084         0.074
52414        6.758      73.0      0.080                0.066         0.089
52415        6.580      74.1      0.081                0.062         0.111

[52416 rows x 5 columns]

In [ ]:
import pandas as pd
power = pd.read_csv("powerconsumption.csv")

power['Avg Power Consumption'] = (power['PowerConsumption_Zone1'] + power['PowerConsumption_Zone2'] + power['PowerConsumption_Zone3'])/3
power = power.drop(columns=['PowerConsumption_Zone1','PowerConsumption_Zone2','PowerConsumption_Zone3'])

X = power.drop(columns=['Avg Power Consumption', 'Datetime'])
y = power['Avg Power Consumption']
y

0        23475.178480
1        23106.947957
2        22601.073977
3        21829.744030
4        21216.815423
             ...
52411    24266.028863
52412    23661.269287
52413    22891.683217
52414    22387.672273
52415    21916.846587
Name: Avg Power Consumption, Length: 52416, dtype: float64

In [6]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

power = pd.read_csv("powerconsumption.csv")

power['Avg Power Consumption'] = (power['PowerConsumption_Zone1'] + power['PowerConsumption_Zone2'] + power['PowerConsumption_Zone3'])/3
power = power.drop(columns=['PowerConsumption_Zone1','PowerConsumption_Zone2','PowerConsumption_Zone3'])

X = power.drop(columns=['Avg Power Consumption', 'Datetime'])
y = power['Avg Power Consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = KNeighborsRegressor(n_neighbors=5)
model.fit(X_train, y_train)
prediction = model.predict(X_test)

r2 = r2_score(y_test, prediction)
mse = mean_squared_error(y_test, prediction)
mae = mean_absolute_error(y_test, prediction)

print("R2 score = ", r2)
print("Mean Absolute Error = ", mae)
print("Mean Squared Error = ", mse)

R2 score =  0.3957504805054888
Mean Absolute Error =  3215.7051231752703
Mean Squared Error =  19555928.826558422